/Intermediate Projects/Password Manager GUI Project/data.txt
/Intermediate Projects/Password Manager GUI Project/data.json
/Intermediate Projects/Intro to Pandas
/Intermediate Projects/pythonProject
/Intermediate Projects/Mail Merge Project/Output/ReadyToSend
*.xml
*.iml
*.idea